<a href="/admin/categories/add">
	<button class="btn btn-primary btn-lg mb-4">New category</button>
</a>

<h2>List of categories:</h2>

{{#each categories}}

<div class="card mt-4">

	<div class="card-body">

		<h3>Name: {{name}}</h3>
		<h6>Slug: {{slug}}</h6>

		<a href="/admin/categories/edit/{{_id}}">
			<button class="text-center btn btn-secondary">Edit</button>
		</a>

		<a href="/admin/categories/delete/{{_id}}">
			<button class="btn btn-danger">Delete</button>
		</a>

	</div>

</div>

{{else}}

<h4 class="mt-5">no registered category</h4>

{{/each}}