{{#each errors}}
<div class="alert alert-danger"> {{text}} </div>
{{else}}

{{/each}}
<head>
	<meta charset="utf-8">
    <script src="https://cdn.ckeditor.com/ckeditor5/25.0.0/classic/ckeditor.js"></script>
</head>
<h3>Edit post:</h3>
<div class="card">
	<div class="card-body">
		<form action="/admin/posts/edit" method="POST">
			<input type="hidden" name="id" value="{{post._id}}">
			<label for="title">Title:</label>
			<input class="form-control" type="text" name="title" value="{{post.title}}">
			<label for="slug">Slug:</label>
			<input class="form-control" type="text" name="slug" value="{{post.slug}}">
			<label for="description">Description:</label>
			<input class="form-control" type="text" name="description" value="{{post.description}}">
			<label for="content">Content:</label>
			<textarea id="editor" class="form-control" rows="10" name="content">{{{post.content}}}</textarea>
			<label for="category">Category:</label>
			<select class="form-select" name="category">
				{{#each categories}}
				<option value="{{_id}}">{{name}}</option>
				{{else}}
				<option value="0">no registered category.</option>
				{{/each}}
			</select>
			<br>
			<button class="btn btn-primary" type="submit">Edit</button>
		</form>
	</div>
</div>
<script>
	ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
</script>