<a href="/admin/posts/add">
	<button class="btn btn-primary btn-lg mb-4">New post</button>
</a>

<h2>List of posts:</h2>

{{#each posts}}
<div class="card mt-4">

	<div class="card-body">

		<h3>Title: {{title}}</h3>
		<h6>Description: {{description}}</h6>
		<p>Category: {{category.name}}</p>

		<a href="/admin/posts/edit/{{_id}}">
			<button class="text-center btn btn-secondary">Edit</button>
		</a>

		<a href="/admin/posts/delete/{{_id}}">
			<button class="btn btn-danger">Delete</button>
		</a>

	</div>

</div>

{{else}}

<h4 class="mt-5">no registered post</h4>

{{/each}}